body {
	margin: 0;

}

#port-wrap img {
	width: 100%;
	height: auto;
}

html {
	font-family: "sans-serif";
	/* 1 */
	/*-ms-text-size-adjust: 100%; 2 */
	/*-webkit-text-size-adjust: 100%;  2 */
}


#map_canvas {
	width: 100%;
	height: 200px;
	/* mobile change here */
}


#header-wrap {
	width: 100%;
	border-bottom: 1px #CCC solid;
	position: relative;
}


/* mobile change here */
header {
	margin: 0 auto;
	width: 100%;
	/* height: 50px; */

}

/* mobile change here */

.logo {
	width: 207px;
	height: 40px;
	padding-top: 10px;

	display: block;
	float: left;
	background-image: url(../images/logo.png);
	background-repeat: no-repeat;
	/* mobile change here */
	background-position: -40px;
	/* mobile change here */
}

.mobilemenu {
	width: 50px;
	height: 50px;
	display: block;
	background-color: #66CCCC;
	padding: 0;
	margin: 0;
	float: right;
	background-image: url(../images/mobile_menu.png);
	background-repeat: no-repeat;
}

/* mobile change here */

/* mobile change here */

nav {
	display: block;
	clear: both;
	/* mobile change here */
}





/* mobile change here */

#menu {
	list-style: none;
	margin: 0;
	padding: 0;
	display: none;
}

/* mobile change here */

nav ul li {
	height: 50px;
	background-color: #66CCCC;
	line-height: 50px;
	text-align: left;
	border-bottom: 1px #CCC solid;
	padding-left: 10px;

}

/* mobile change here */

nav ul li a {
	color: #000;
	display: block;
	padding-right: 15px;
	font-size: 20px;
	letter-spacing: -1px;
	text-decoration: none;

}

/* mobile change here */

/*  nav ul li a:hover {
	border-bottom: 4px #6CC solid;
	}

*/

/* mobile change here */
#image-wrap {
	width: 100%;
	background-image: url(../images/main_image.jpg);
	background-size: cover;
	background-position: center;
	/* background-size: 100%; */
	background-repeat: no-repeat;
	display: block;
	/* height: auto; */
	height: 430px;
	text-align: center;
	clear: both;
	background-color: #000;

}





#home-wrap {
	width: 100%;
	background-color: #FFF;
	border-bottom: 1px #CCC solid;
	position: relative;
	overflow: hidden;
	min-height: 495px;
	color: #000;
	text-align: center;

}

#home-wrap h4 {
	margin-top: 140px;
	color: #000;
	display: inline-block;
	line-height: 35px;
	font-size: 24px;
}

/* mobile change */
#home-wrap p {
	font-weight: normal;
}

#home-wrap a {
	margin: 0 auto;
}


#about-wrap {
	width: 100%;
	background-color: #FFF;
	border-bottom: 1px #CCC solid;
	position: relative;
	overflow: hidden;
	min-height: 495px;

}

#about-wrap-image {
	width: 100%;
	background-image: url(../images/aboutme.png);
	background-repeat: no-repeat;
	display: block;
	min-height: 430px;
	background-size: cover;
	background-position: center;
	clear: both;
}



#port-wrap {
	width: 100%;
	background-color: #FFF;
	border-bottom: 1px #CCC solid;
	position: relative;
	overflow: hidden;
	min-height: 495px;
	color: #000;
	text-align: center;
	margin-top: 30px;

}

#port-wrap p {
	font-size: 16px;
}

#port-wrap h4 {
	color: #000;
	font-size: 24px;
	line-height: 24px;
}


.portcol {
	width: 98%;
	/* mobile change */
	margin-bottom: 30px;
	margin-left: .5%;
	/* mobile change */
	margin-right: .5%;
	/* mobile change */
	float: left;
	border: 1px #CCC solid;
}

.portcollt {
	width: 100%;
	float: right;
	overflow: hidden;
	text-align: center;
	margin-bottom: 10px;
}

/* mobile change */
.portcolrt {
	width: 100%;
	float: left;
	margin-bottom: 10px;
	text-align: center;
}

/* mobile change */
.portcolrt img {
	width: 100%;
	height: auto;
}

/* mobile change */
.portcollt h4 {
	font-size: 38px;
}

.skillbox {
	line-height: 12px;
	background-color: #66CCCC;
	color: #FFF;
	padding: 10px;
	margin: 5px;
	float: left;
	clear: right;
	font-size: 12px;
}


#contact-wrap {
	width: 100%;
	background-color: #FFF;
	border-bottom: 1px #CCC solid;
	position: relative;
	overflow: hidden;
	min-height: 495px;

}






#footer-wrap {
	width: 100%;
	background-color: #6CC;
	border-top: 1px #F00 solid;
	height: 50px;
	/* mobile change */

}


#footer-wrap header {
	display: none;
	/* mobile change */

}